.team-text-section {
  width: 20%;
  padding: 30px;
  text-align: justify;
  font-size: 14px;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 50vw;
}
